<a class="postCard-wrapper" href="#">
  <figure class="postCard-thumbnail"
    style="background-image: url({{ post.preview_img.url }})">
  </figure>
  <div class="postCard-content">
    <div class="postCard-meta">
      <div class="postCard-tag">
        <object type="def">
          <a href="#" rel="category tag">Новости</a> </object>
      </div>
      <div class="postCatd-point">•</div>
      <div class="postCard-timestamp">
        23 часа назад </div>
    </div>
    <div class="postCard-title">
      <h2>Вещь дня: Dell UltraSharp U3224KB&nbsp;— аналог Apple Pro Display XDR?</h2>
    </div>
  </div>
</a>