<div class="col-3 m-15px-tb blog-aside">
    <!-- Author -->
        <!-- widget Tags -->
        <div class="widget widget-tags">
          <div class="widget-title">
            <h3>Облако тегов</h3>
          </div>
        <div class="widget-body">
          <div class="nav tag-cloud">
            <div class="content">

            </div>

            
            {% for post in posts %}
            {% for tag in post.tags.all %}
            <a href="{% url 'post_list_by_tag' tag.slug %}">
              {{ tag.name }}
            </a>
            {% if not forloop.last %}
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>
        </div>
        </div>
        <!-- End widget Tags -->
    <!-- End Author -->
  </div>














  <p>{{ post.description|safe|truncatechars:120 }}</p>














  <div class="blog-grid">
    <div class="blog-img" data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}">
        <div class="date">
            <span>{{ post.created_at|date:"d.m.y" }}</span>
        </div>
        <a href="#">
            <img src="{{ post.preview_img.url }}" title="" alt="">
        </a>
    </div>
    <div class="blog-info">
        <h5><a href="#">{{ post.title }}</a></h5>
    </div>
</div>











def index(request, tag_slug=None):
    posts = Post.objects.all()
    
    # Выборка постов по тегам
    tag = None
    if tag_slug:
        tag = get_object_or_404(Tag, slug=tag_slug)
        posts = posts.filter(tags__in=[tag])

    context = {
        'posts': posts,
        }
    return render(request, 'main/index.html', context)



    <p class="created">
      {% for item in posts %}
      {% for tag in item.tags.all %}
      <a href="{% url 'post_list_by_tag' tag.slug %}">
        {{ tag.name }}
      </a>
      {% if not forloop.last %}
      {% endif %}
      {% endfor %}
      {% endfor %}
    </p>

    <a href="#">
      {{ post.tags.all|join:", " }}
    </a>


    <link href="{% sass_src 'main/css/style.scss' %}" rel="stylesheet" type="text/css"/>