h1 {
    font-family: 'Josefin Sans', serif;
    font-size: 2rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    
    // Color change on hover for split card
    .split:hover & {
      color: #161616;
    }
    
  }
  
  p {
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 0.5px;
    
    // Color change on hover for split card
    .split:hover & {
      color: #161616;
    }
    
  }
  
  // The main container
  .container {
    // width: 100vw;
    // height: 100vh;
    // background: #161616;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: url('https://picsum.photos/960/?blur') 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      opacity: 0.3;
    }
    
  }
  
  // The cards
  .card {
    width: 360px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.32);
    cursor: pointer;
    position: relative;
    transform-origin: center;
    // easeOutQuart
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 0 16px 0 0;
    
    &:last-child {margin: 0;}
    
    &:hover {
      transform: scale(1.05);
    }
    
    .content {
      padding: 40px 24px 48px 24px;
      position: relative;
  
      h1,
      p {
        // easeInOutSine
        transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  
        &.copy {
          margin: 16px 0 0 0;
        }
  
      }
  
    }
    
    // Split card styling
    &.split {
      height: 480px;
      background: rgba(22, 22, 22, 0.8);
      
      &:before {
        content: '';
        width: 100%;
        height: 0;
        background: #f3f3f3;
        position: absolute;
        bottom: 0;
        transform-origin: bottom;
        // easeOutQuart
        transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      
      // Hover state for the split card
      &:hover {
  
        &:before {
          height: 277px;
        }
  
      }
      
      .image {
        display: block;
        position: relative;
  
        img {
          width: 100%;
          height: auto;
        }
  
      }
      
    }
    
    &.full {
      height: 480px;
      background: #161616;
      overflow: hidden;
      
      .content {
        position: absolute;
        z-index: 1;
        bottom: 40px;
        padding: 0 24px;
        // easeOutQuart
        transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      
      // Hover state for the full card
      &:hover {
  
        .content {
          bottom: 56px;
        }
  
      }
      
      .image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
        img {
          height: 480px;
          width: auto;
        }
        
        &:before {
          content: '';
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
          position: absolute;
        }
        
      }
      
    }
    
  }